html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3 {  
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  text-align: center;
}

h3 {
  font-weight: normal;
}

header {
  height: 50%;
  background: #fff;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

header h1 {
  color: #444;
}

header h3 {
  color: #666;
}

header .headers-wrapper {
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -80px;
  position: absolute;
}

footer {
  background: #41AB6B;
  border-top: 20px solid #53B279;
  height: 50%;
  position: relative;
  box-sizing: border-box;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: -80px 0 0 -380px;
  position: absolute;
  top: 50%;
  left: 50%;
}

footer li {
  display: inline-block;
  margin: 0 20px;
}

.icon {
    text-align: center;
    height: 120px;
    width: 120px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 60px;
    display: block;
    text-decoration: none;
    line-height: 120px;
    font-size: 48px;
    color: #fff;
    background: #53B279;
    position:relative;
    transition: all 0.2s ease-in 0s;
}

.icon:hover {
    background: #fff;
    color: #41AB6B;
}

.icon:after {
    content: ' ';
    border: 5px solid #fff;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    box-sizing: border-box;
    left: 0;
    top:0;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.2s ease-in 0s;
    opacity: 0;
}

.icon:hover:after {
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);  
    opacity: 1;
}