html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5 {  
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  text-align: center;
}

h3, h5 {
  font-weight: normal;
}

.vertical-wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
}

header {
  min-height: calc(100% - 40px);
  background: #fff;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

header h1 {
  color: #444;
}

header h3 {
  color: #666;
}

header .vertical-wrapper {
  margin-top: -140px;
  left: 0;
  right: 0;
}

header p {
  text-align: center;
  margin: 60px 0 40px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in 0s;
  border: 1px solid transparent;
  white-space: nowrap;
}

.button.button-small {
  font-size: 0.9em;
  padding: 7.5px 15px;
  border-radius: 3px;
}

header .button+.button {
  margin-left: 100px;
}

.button.button-projects {
  background: #56A4F4;
  box-shadow: 0 4px 0 #4593E3;  
}

.button.button-small.button-projects {
  box-shadow: 0 3px 0 #4593E3; 
}

.button.button-projects:hover {
  border-color: #4593e3;
  background: #fff;
  color: #4593E3;
}

.button.button-contact {
  background: #53B279;
  box-shadow: 0 4px 0 #41AB6B;
}

.button.button-small.button-contact {
  box-shadow: 0 3px 0 #41AB6B;
}

.button.button-contact:hover {
  border-color: #41AB6B;
  background: #fff;
  color: #41AB6B;
}

article {
  background: #4593E3;
  color: #fff;
  min-height: 580px;
  height: calc(100% - 40px);
  position: relative;
  border-top: 20px solid #56a4f4;
  box-sizing: border-box;
}

article .vertical-wrapper {
  left: 0;
  right: 0;
  margin: -290px 0 0 0;
  text-align: center;
}

article ul.cards {
  list-style-type: none;
  padding: 0;
  margin: 60px 0 0 0;
}

article .cards li {
  display: inline-block;
  width: 200px;
  height: 350px;
  background-color: #56a4f4;
  box-sizing: border-box;
  position: relative;
}


article .cards>li+li {
  margin-left: 40px;
}

article .cards li .card-heads {
  padding: 250px 10px 10px 10px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  height: 350px;
  width: 200px;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.2s ease-in 0s;
  z-index: 1;
}

article .cards li .card-reverse {
  position: absolute;
  height: 350px;
  width: 200px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.2s ease-in 0s;
  padding: 10px;
  z-index: 2;
  background: #fff;
  color: #56a4f4;
}

article .cards li .card-reverse h4 {
  color: #4593E3;
}

article .cards li:hover .card-reverse {
  opacity: 1;
}

article .cards .card-reverse-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

article .cards .card-reverse-buttons .button+.button {
  margin-top: 20px;
}

article p {
  margin: 10px 0;
  font-size: 0.95em;
}

article h4 {
  margin: 10px 0;
}

footer {
  background: #41AB6B;
  border-top: 20px solid #53B279;
  min-height: calc(100% - 40px);
  position: relative;
  box-sizing: border-box;
}

footer h1 {
  color: #fff;
}

footer h3 {
  color: #EBF7F0;
}

footer .vertical-wrapper {
  margin: -170px 0 0 -380px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 60px auto 0 auto;

}

footer li {
  display: inline-block;
  margin: 0 20px;
}

.icon {
    text-align: center;
    height: 120px;
    width: 120px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 60px;
    display: block;
    text-decoration: none;
    line-height: 120px;
    font-size: 48px;
    color: #fff;
    background: #53B279;
    position:relative;
    transition: all 0.2s ease-in 0s;
}

.icon:hover {
    background: #fff;
    color: #41AB6B;
}

.icon:after {
    content: ' ';
    border: 5px solid #fff;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    box-sizing: border-box;
    left: 0;
    top:0;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.2s ease-in 0s;
    opacity: 0;
}

.icon:hover:after {
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);  
    opacity: 1;
}