@media screen and (max-width: 600px) {
    body {
      background: #41AB6B;
    }

    header {
      position: relative;
      height: auto;
    }

    header .vertical-wrapper {
      position: static;
      margin: 0px;
      padding: 40px 10px;
    }

    .button.button-projects:hover {
      background: #56A4F4;
      color: #fff;
    }

    .button.button-projects:active {
      border-color: #4593e3;
      background: #fff;
      color: #4593E3;
    }

    .button.button-contact:hover {
      background: #53B279;
      color: #fff;
    }

    .button.button-contact:active {
      border-color: #41AB6B;
      background: #fff;
      color: #41AB6B;
    }

    article {
      height: auto;
    }

    footer {
      position: relative;
      height: auto;
    }

    footer .vertical-wrapper {
      margin: 0 auto;
      padding: 40px 0;
      position: static;
    }

    footer ul {
      width: 180px;
    }

    footer li {
      margin: 0 5px;
    }

    .icon {
      height: 60px;
      width: 60px;
      line-height: 60px;
      font-size: 24px;
    }

    .icon:hover {
        background: #53B279;
        color: #fff;
    }

    .icon:active {
      background: #fff;
      color: #53B279;
    }

    .icon:after {
      display: none;
    }

    .icon:hover:after {
      display: none;
    }
}